.landing {
    position: relative;
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    left: 0;
    right: 0;

    width: 100%;
    height: 95vh;

    padding-bottom: 20vh;

    section {
        margin: 50px 0;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 3em;
        margin: 0;
    }

    .pfp {
        width: 40vw;
        height: auto;

        max-width: 250px;

        border-radius: 50%;

        -webkit-box-shadow: 0px 10px 21px -14px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 10px 21px -14px rgba(0,0,0,0.64);
        box-shadow: 0px 10px 21px -14px rgba(0,0,0,0.64);
    }
}

.links {
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 15vw;
    
    max-height: 100px;
    min-width: 100px; 

    a {
        display: flex;

        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        min-width: 40px;

        svg {
            width: 90%;
            height: 90%;
        }

        transition: 0.2s;

        &:hover {
            -webkit-filter: drop-shadow(0 5px 5px #00000035);
            filter: drop-shadow(0 5px 5px #00000035);
        }
    }
}